.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type='email'] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin input[type='password'] {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin button[type='submit'] {
    margin-top: 15px;
}

.placeholder-image {
    background-color: #6b7280;
    color: #cbd5e0;
}
